<div style="width:20%">
  <p-panel>
    <p-header>
      Driver Overview
    </p-header>
    <div>Fleet</div>
    <div class="bold">Cool Team(CL1234)</div>

    <div>Board</div>
    <div class="bold">Warriors Team(WT9045)</div>

    <div>Fleet Manager</div>
    <div class="bold"> <span style="border-radius: 50%; font-weight:bold;"></span>Betty Doe(JBR067)</div>

    <hr>
    <div>Legal Name <span class="bold pl-10">John B.Barrens</span></div>
    <div>Date of Birth <span class="bold pl-10">06/92</span></div>
    <div>Driver Number <span class="bold pl-10">19023</span></div>
    <div>Hire Date <span class="bold pl-10">09/10/2015</span></div>
    <div>Prior Experience <span class="bold pl-10">5 years</span></div>

    <div>License</div>
    <div class="bold">CDL-A, Chicago, Expire in 8 months</div>

    <div>Cell Phone <span class="bold pl-10">(123)-456-7890</span></div>
    <div>Home Phone <span class="bold pl-10">(123)-456-7890</span></div>

    <div>Work Address</div>
    <div class="bold">100 Warren street Torrance, CA 883492, USA</div>

    <div>Maintenance Location</div>
    <div class="bold">100 Warren street Torrance, CA 883492, USA</div>

    <div>Safety Terminal</div>
    <div class="bold">100 Warren street Torrance, CA 883492, USA</div>

    <p-footer>
      HR System
    </p-footer>
  </p-panel>
</div>